<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="UTF-8">
				<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
				<title></title>
				<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
				<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
						<style>
					  body {
						margin: 0;
						padding: 0;
					  }
					  #map {
						position: absolute;
						top: 0;
						bottom: 0;
						width: 100%;
					  }

					  .search {
							  position: absolute;
					  }

					  .results {
							position:absolute;
							background-color: #fff;
							z-index: 1;
					  }
					  
					  @media (min-width: 320px) {
							.search {
									width: 100%;
									top: 5%;
							}
							.results {
									width: 100%;
									bottom: 5%;
							}
					  }

					  @media (min-width: 480px) {
							  .search {
									  width: 50%;
										left: 5%;
										top: 5%;
							  }
							  .results {
									  width: 50%;
										bottom: 5%;
										left: 5%;
							  }
					  }

					  @media (min-width: 801px) {
								.search {
								right:5%;
								top:5%;
								}
							  .results {
								top: 15%;
								left: 5%;
							  }

					  }
					  					</style>
		</head>
		<body>
				<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
				<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
				<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
				<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
				<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
				<div id='map'></div>
				<div class = 'search'>
						<form id = 'search' action="{% url 'route' %}">
								{% csrf_token %}
								<div class="container">
										<div class="row" style="background-color:#fff">
											<div class="col">
													<div class="row"><div class="col">Origin</div></div>
													<div class="row" id = "origin"></div>
											</div>
											<div class="col">
													<div class="row"><div class="col">Destination</div></div>
													<div class="row" id = 'destination'></div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<div class="btn-group">
														<button class="btn btn-primary active" type = "button">Walk</button>
														<button class="btn btn-secondary" type = "button">Cycle</button>
												</div>
											</div>
										<div class="col" id = "routebutton"></div>
										</div>
								</div>
						</form>
				</div>
				<div class="results" style="display:none">
						<div id="accordion">
						</div>
				</div>
				<script>
						function getCookie(name) {
								var cookieValue = null;
								if (document.cookie && document.cookie !== '') {
										var cookies = document.cookie.split(';');
										for (var i = 0; i < cookies.length; i++) {
												var cookie = cookies[i].trim();
												// Does this cookie string begin with the name we want?
												if (cookie.substring(0, name.length + 1) === (name + '=')) {
														cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
														break;
												}
										}
								}
								return cookieValue;
						}
						var csrftoken = getCookie('csrftoken');

						function csrfSafeMethod(method) {
								// these HTTP methods do not require CSRF protection
								return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
						}
						$.ajaxSetup({
								beforeSend: function(xhr, settings) {
										if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
												xhr.setRequestHeader("X-CSRFToken", csrftoken);
										}
								}
						});

						mapboxgl.accessToken = '{{token}}';
						map = new mapboxgl.Map({
								container: 'map',
								style: 'mapbox://styles/mapbox/streets-v9',
								center: [-122.28349, 37.8142],
								zoom: 11
						});

						var origin = new MapboxGeocoder ({
								accessToken: mapboxgl.accessToken,
								mapboxgl: mapboxgl,
								trackProximity: true, 
								flyTo: true,
								bbox: [-123,37,-121,39],
								reverseGeocode: true,
								minLength: 1
						});

						var destination = new MapboxGeocoder ({
								accessToken: mapboxgl.accessToken,
								mapboxgl: mapboxgl,
								trackProximity: true,
								flyTo: true,
								bbox: [-123,37,-121,39],
								reverseGeocode: true,
								minLength: 1
						});
						
						origin.on('result', function(e) {
								orAjax = e['result'];
						})

						origin.on('loading', clearMap);

						destination.on('result', function(e) {
								destAjax = e['result'];
						})

						destination.on('loading', clearMap);

						$('#origin').append(origin.onAdd(map));
						$('#destination').append(destination.onAdd(map));
						$('.mapboxgl-ctrl-geocoder')[0].style.zIndex = 3;
						$('.mapboxgl-ctrl-geocoder')[1].style.zIndex = 2;
						$('.mapboxgl-ctrl-geocoder--input').first().attr('id','origin');
						$('.mapboxgl-ctrl-geocoder--input').last().attr('id','destination');
						$('#routebutton').append('<button class = "btn btn-primary" style = "position: relative; z-index:1" type = "submit">Find Route</button>');
						map.on('load', function() {
								map.addSource('blackcarbon', {
										type: 'geojson',
										data: '../static/router/BlackCarbon.json'
								});
								map.addLayer({
										id: 'bcarbon',
										type: 'circle',
										source: 'blackcarbon',
										paint: {
												'circle-color': [
														'interpolate-lab', 
														['linear'], 
														['get', 'BlackCarbonValue'],
														-.5, '#00FF00',
														.5, '#FFFD00',
														1.5, '#FF7E00',
														2.5, '#FF0000',
														3.5, '#C700FF'
														]
												}
								}, 'waterway-label');
						})

						$('#search').on('submit', function(e) {
								e.preventDefault();
								map.getCanvas().style.cursor = "progress";
								$('#routebutton .btn').html('<span class="spinner-border spinner-border-sm"></span>Find Route');
								clearMap();	
								$.ajax({
										type:'post',
										url: $(this).attr('action'),
										data: {
												originCoor: JSON.stringify(orAjax['geometry']['coordinates']),
												destinationCoor: JSON.stringify(destAjax['geometry']['coordinates']),
												modeTransport: $('.btn-group .btn.btn-primary.active').html()
										},
										success: function(data) { 
												var routes = [];
												for (route of data['routes']) {
														var lngLat = google.maps.geometry.encoding.decodePath(route.overview_polyline.points);
														var lngLatLine = [];
														for (x of lngLat) {
																lngLatLine.push([x.lng(), x.lat()]);
														}
														var line = turf.lineString(lngLatLine);
														var arrayOfPoints = [];
														for (i = 0; i < turf.length(line); i+=.25) {
																arrayOfPoints.push(turf.along(line, i)['geometry']['coordinates']);
														}
														routes.push(arrayOfPoints);
												}
												var json = (function () {
																	var json = null;
																	$.ajax({
																		'async': false,
																		'global': false,
																		'url': '../static/router/BlackCarbon.json',
																		'dataType': "json",
																		'success': function (data) {
																			json = data;
																		}
																	});
																	return json;
												})();	
												routeValues = []
												let j = 0;
												for(route of routes) {
														carbonValues = [];
														for (point of route) {
																jsonCopy = JSON.parse(JSON.stringify(json))
																nearest = [];
																for (i = 0; i < 4; i++) {
																		currentNearest = turf.nearest(point, jsonCopy)
																		nearest.push(currentNearest.properties);
																		jsonCopy.features = jsonCopy.features.filter( function(feature) {
																			return (feature.geometry.coordinates[0] != currentNearest.geometry.coordinates[0] && feature.geometry.coordinates[1] != currentNearest.geometry.coordinates[1]);
})
																}
																carbonValues.push(idw(nearest));
												}
														routeValues.push(average(carbonValues));
														map.addLayer({
															'id': 'Route ' + String(j + 1),
															'type': 'line',
															'source': {
																	'type': 'geojson',
																	'data': line,
																	'generateId': true
															},
															'paint': {
																	'line-opacity': ["case", ["boolean", ["feature-state", "hover"], false], 1, .5],
																	'line-width': ["case", ["boolean", ["feature-state", "hover"], false], 10, 5]
															}
														});

														$('.results #accordion').append(
																'<div class = "card" id = "card' + String(j) + '"><div class = "card-header"><button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapse' + String(j) + '">' + data.routes[j].summary + '</div><ul><li>Black Carbon Value: '+ routeValues[j].toFixed(3) + '</li><li>' + data.routes[j].legs[0].duration.text + '</li></ul></button><div id = "collapse' + String(j) + '" class = "collapse" data-parent="#accordion"><div class = "card-body">' + instructionString(data.routes[j].legs[0].steps) + '</div></div></div>'
		   );
														var sw = data.routes[j].bounds['southwest']
														var ne = data.routes[j].bounds['northeast']
														var bounds = new mapboxgl.LngLatBounds(sw, ne);
														map.fitBounds(bounds, {
														padding: 20
														})
														j++;
														addEventListner(j)
											}
											$('.results').attr('style', 'display:inline');
											map.getCanvas().style.cursor = "grab";
											$('#routebutton .btn').html('Find Route');
										}
								});
						});

						map.on('click', 'bcarbon', function(e) {
						  new mapboxgl.Popup()
							.setLngLat(e.features[0].geometry.coordinates)
										.setHTML('<b>Black Carbon :</b> ' + e.features[0].properties.BlackCarbonValue)
							.addTo(map);
						});
						
						let hoveredRouteId = null;	
						function addEventListner(routeNumber) {
								map.on('mouseenter', 'Route ' + String(routeNumber), function(e) { 
										hoveredRouteId = e.features[0].id;
										map.setFeatureState({source: 'Route ' + String(routeNumber), id: e.features[0].id }, { hover: true});
										$('#card' + String(routeNumber - 1)).attr('class', 'card bg-primary text-white')
										}
									);
								map.on('mouseleave', 'Route ' + String(routeNumber), function() {
										map.setFeatureState({source: 'Route ' + String(routeNumber), id: hoveredRouteId }, { hover: false});
										$('#card' + String(routeNumber - 1)).attr('class', 'card')
								}
								 );					
								$('#card' + String(routeNumber - 1)).hover(function(e) {
									hoveredRouteId = routeNumber;
									map.setFeatureState({source: 'Route ' + String(routeNumber), id: 0}, { hover: true});
									$('#card' + String(routeNumber - 1)).attr('class', 'card bg-primary text-white');
								   },
								   function(e) {
									map.setFeatureState({source: 'Route ' + String(routeNumber), id: 0}, { hover: false});
									$('#card' + String(routeNumber - 1)).attr('class', 'card');
								   }
								);
						}

						$('.btn-group .btn').on('click', function() {
							$('.btn-group .btn-primary.active').attr('class', "btn btn-secondary");
							$(this).attr('class', "btn btn-primary active");
						});

						function clearMap() {
								$('.results #accordion').empty();
								i = 1;
								while (map.getLayer('Route '+String(i))) {
										map.removeLayer('Route '+String(i));
										map.removeSource('Route '+String(i));
										i++;
								}
						}

						function average(arr) {
								sum = 0;
								for (i = 0; i < arr.length; i++) {
										sum += parseFloat(arr[i]);
								}
								return sum/arr.length;
						}

						function instructionString(instructionArray) {
								output = "<ol>";
								for (instruction of instructionArray) {
										output += "<li>" + instruction.html_instructions + "<br>" + instruction.distance.text + "</li>";
								}
								output += "</ol>";
								return output;
						}

						function idw(pointArray) {
								numerator = 0;
								denominator = 0;
								for (point of pointArray) {
										numerator += point.BlackCarbonValue/(Math.pow(point.distanceToPoint, 2));
										denominator += 1/(Math.pow(point.distanceToPoint, 2));
								}
								return numerator / denominator;
						}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=geometry"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</body>
</html>
