<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="UTF-8">
				<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
				<title></title>
				<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
				<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
						<style>
					  body {
						margin: 0;
						padding: 0;
					  }
					  #map {
						position: absolute;
						top: 0;
						bottom: 0;
						width: 100%;
					  }
					  .search {
						position:absolute;
						right:5%;
						top:5%;
						}
					  .results {
						position: absolute;
						top: 15%;
						left: 0;
						z-index: 1;
						background-color: #fff;
					  }
					</style>
		</head>
		<body>
				<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
				<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
				<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
				<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
				<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
				<div id='map'></div>
				<div class = 'search'>
						<form id = 'search' action="{% url 'route' %}">
								{% csrf_token %}
								<div class="container">
										<div class="row" style="background-color:#fff">
											<div class="col">
													<div class="row"><div class="col">Origin</div></div>
													<div class="row" id = "origin"></div>
											</div>
											<div class="col">
													<div class="row"><div class="col">Destination</div></div>
													<div class="row" id = 'destination'></div>
											</div>
										</div>
										<div class="row" id = 'routebutton'></div>
								</div>
						</form>
				</div>
				<div class="results" style="display:none">
						<div class="list-group">
						
						</div>
				</div>
				<script>
						function getCookie(name) {
								var cookieValue = null;
								if (document.cookie && document.cookie !== '') {
										var cookies = document.cookie.split(';');
										for (var i = 0; i < cookies.length; i++) {
												var cookie = cookies[i].trim();
												// Does this cookie string begin with the name we want?
												if (cookie.substring(0, name.length + 1) === (name + '=')) {
														cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
														break;
												}
										}
								}
								return cookieValue;
						}
						var csrftoken = getCookie('csrftoken');

						function csrfSafeMethod(method) {
								// these HTTP methods do not require CSRF protection
								return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
						}
						$.ajaxSetup({
								beforeSend: function(xhr, settings) {
										if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
												xhr.setRequestHeader("X-CSRFToken", csrftoken);
										}
								}
						});

						mapboxgl.accessToken = '{{token}}';
						map = new mapboxgl.Map({
								container: 'map',
								style: 'mapbox://styles/mapbox/streets-v9',
								center: [-122.28349, 37.8142],
								zoom: 11
						});

						var origin = new MapboxGeocoder ({
								accessToken: mapboxgl.accessToken,
								mapboxgl: mapboxgl,
								trackProximity: true, 
								flyTo: false,
								bbox: [-123,37,-121,39]
						});

						var destination = new MapboxGeocoder ({
								accessToken: mapboxgl.accessToken,
								mapboxgl: mapboxgl,
								trackProximity: true,
								flyTo: false,
								bbox: [-123,37,-121,39]
						});
						
						origin.on('result', function(e) {
								orAjax = e['result'];
						})

						destination.on('result', function(e) {
								destAjax = e['result'];
						})

						$('#origin').append(origin.onAdd(map));
						$('#destination').append(destination.onAdd(map));
						$('.mapboxgl-ctrl-geocoder')[0].style.zIndex = 3;
						$('.mapboxgl-ctrl-geocoder')[1].style.zIndex = 2;
						$('.mapboxgl-ctrl-geocoder--input').first().attr('id','origin');
						$('.mapboxgl-ctrl-geocoder--input').last().attr('id','destination');
						$('#routebutton').append('<button class = "btn btn-primary" style = "position: relative; z-index:1" type = "submit">Find Route</button>');

						map.on('load', function() {
								map.addSource('blackcarbon', {
										type: 'geojson',
										data: '../static/router/BlackCarbon.json'
								});
								map.addLayer({
										id: 'bcarbon',
										type: 'circle',
										source: 'blackcarbon',
										paint: {
												'circle-color': [
														'interpolate', 
														['linear'], 
														['get', 'BlackCarbonValue'],
														-1.35, '#5af542', 
														1.35, '#f59342',
														3.35, '#f54251',
														5.35, '#bc42f5']
												}
								}, 'waterway-label');
						})

						$('#search').on('submit', function(e) {
								e.preventDefault();
								map.getCanvas().style.cursor = "progress";
								i = 1;
								while (map.getLayer('Route '+String(i))) {
										map.removeLayer('Route '+String(i));
										map.removeSource('Route '+String(i));
										i++;
								}
								$.ajax({
										type:'post',
										url: $(this).attr('action'),
										data: {
												originCoor: JSON.stringify(orAjax['geometry']['coordinates']),
												destinationCoor: JSON.stringify(destAjax['geometry']['coordinates']) 
										},
										success: function(data) {
												$('.results .list-group').empty();
												var routes = [];
												for (route of JSON.parse(data)) {
														var line = turf.lineString(route.geometry.coordinates);
														var arrayOfPoints = [];
														for (i = 0; i < turf.length(line); i+=.25) {
																arrayOfPoints.push(turf.along(line, i)['geometry']['coordinates']);
														}
														routes.push(arrayOfPoints);
												}
												var json = (function () {
																	var json = null;
																	$.ajax({
																		'async': false,
																		'global': false,
																		'url': '../static/router/BlackCarbon.json',
																		'dataType': "json",
																		'success': function (data) {
																			json = data;
																		}
																	});
																	return json;
												})();	
												routeValues = []
												let j = 0;
												for(route of routes) {
														carbonValues = [];
														for (point of route) {
																jsonCopy = JSON.parse(JSON.stringify(json))
																nearest = [];
																for (i = 0; i < 4; i++) {
																		currentNearest = turf.nearest(point, jsonCopy)
																		nearest.push(currentNearest.properties);
																		jsonCopy.features = jsonCopy.features.filter( function(feature) {
																			return (feature.geometry.coordinates[0] != currentNearest.geometry.coordinates[0] && feature.geometry.coordinates[1] != currentNearest.geometry.coordinates[1]);
})
																}
																carbonValues.push(idw(nearest));
												}
														routeValues.push(average(carbonValues));
														var line = JSON.parse(data)[j]['geometry']
														map.addLayer({
															'id': 'Route ' + String(j + 1),
															'type': 'line',
															'source': {
																	'type': 'geojson',
																	'data': line,
																	'generateId': true
															},
															'paint': {
																	'line-opacity': ["case", ["boolean", ["feature-state", "hover"], false], 1, .5],
																	'line-width': ["case", ["boolean", ["feature-state", "hover"], false], 10, 5]
															}
														});
														var bounds = route.reduce(function(bounds, coord) {
															return bounds.extend(coord);
														}, new mapboxgl.LngLatBounds(route[0], route[0]));

														$('.results .list-group').append(
																'<div class = "list-group-item" id = "listItem' + String(j+1) + '"><h3>Route ' +  String(j+1) + '</h3><ul><li>Black Carbon Value: '+ routeValues[j].toFixed(3) + '</li><li>' + time(JSON.parse(data)[j].duration) + '</li></ul></div>'
		   )
														map.fitBounds(bounds, {
														padding: 20
														})
														j++;
														addEventListner(j)
											}
											$('.results').attr('style', 'display:inline');
											map.getCanvas().style.cursor = "grab";
											
										}
								});
						});

						map.on('click', 'bcarbon', function(e) {
						  new mapboxgl.Popup()
							.setLngLat(e.features[0].geometry.coordinates)
										.setHTML('<b>Black Carbon (unit):</b> ' + e.features[0].properties.BlackCarbonValue + '<br> ' + e.features[0].properties.time)
							.addTo(map);
						});
						
						let hoveredRouteId = null;	
						function addEventListner(routeNumber) {
								map.on('mouseenter', 'Route ' + String(routeNumber), function(e) { 
										hoveredRouteId = e.features[0].id;
										map.setFeatureState({source: 'Route ' + String(routeNumber), id: e.features[0].id }, { hover: true});
										$('#listItem' + String(routeNumber)).attr('class', 'list-group-item active')
										}
									);
								map.on('mouseleave', 'Route ' + String(routeNumber), function() {
										map.setFeatureState({source: 'Route ' + String(routeNumber), id: hoveredRouteId }, { hover: false});
										$('#listItem' + String(routeNumber)).attr('class', 'list-group-item')
								}
								 );					
								$('#listItem' + String(routeNumber)).hover(function(e) {
									hoveredRouteId = routeNumber;
									map.setFeatureState({source: 'Route ' + String(routeNumber), id: 0}, { hover: true});
									$('#listItem' + String(routeNumber)).attr('class', 'list-group-item active');
								   },
								   function(e) {
									map.setFeatureState({source: 'Route ' + String(routeNumber), id: 0}, { hover: false});
									$('#listItem' + String(routeNumber)).attr('class', 'list-group-item');
								   }
								);
						}

						function average(arr) {
								sum = 0;
								for (i = 0; i < arr.length; i++) {
										sum += parseFloat(arr[i]);
								}
								return sum/arr.length;
						}

						function time(seconds) {
								const hours = Math.floor(seconds/3600);
								const minutes = Math.floor(seconds / 60);
								if (hours > 0) {
										if (hours === 1) {
												if (minutes - 60 === 1) {
														return "1 hour and 1 minute";
												}
												else {
														return "One hour and " + String(minutes - 60) + " minutes"
												}
										}
										else if (minutes - hours * 60 === 1) {
												return String(hours) + " hours and 1 minute"
												}
										return String(hours) + " hours and " + String(minutes - hours * 60) + " minutes"
								}
								else {
										if (minutes > 0) {
												return String(minutes) + " minutes"
										}
										else {
												return "1 minute"
										}
								}
						}

						function idw(pointArray) {
								numerator = 0;
								denominator = 0;
								for (point of pointArray) {
										numerator += point.BlackCarbonValue/(Math.pow(point.distanceToPoint, 2));
										denominator += 1/(Math.pow(point.distanceToPoint, 2));
								}
								return numerator / denominator;
						}
				</script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</body>
</html>
