<!DOCTYPE html>
<html lang="en">
		<head>
				<meta charset="UTF-8">
				<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
				<title></title>
				<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
				<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
						<style>
					  body {
						margin: 0;
						padding: 0;
					  }
					  #map {
						position: absolute;
						top: 0;
						bottom: 0;
						width: 100%;
					  }
					  .search {
						position:absolute;
						z-index:1;
						width:50%;
						left:50%;
						margin-left:-25%;
						top:20px;
						}
						.mapboxgl-ctrl-geocoder { min-width:100%; }
					</style>
		</head>
		<body>
				<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
				<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
				<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
				<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
				<script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
				<div id='map'></div>
				<div class = 'search'>
						<form id = 'search' action="{% url 'route' %}">
								{% csrf_token %}
						</form>
				</div>

				<script>
						function getCookie(name) {
								var cookieValue = null;
								if (document.cookie && document.cookie !== '') {
										var cookies = document.cookie.split(';');
										for (var i = 0; i < cookies.length; i++) {
												var cookie = cookies[i].trim();
												// Does this cookie string begin with the name we want?
												if (cookie.substring(0, name.length + 1) === (name + '=')) {
														cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
														break;
												}
										}
								}
								return cookieValue;
						}
						var csrftoken = getCookie('csrftoken');

						function csrfSafeMethod(method) {
								// these HTTP methods do not require CSRF protection
								return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
						}
						$.ajaxSetup({
								beforeSend: function(xhr, settings) {
										if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
												xhr.setRequestHeader("X-CSRFToken", csrftoken);
										}
								}
						});

						mapboxgl.accessToken = '{{token}}';
						map = new mapboxgl.Map({
								container: 'map',
								style: 'mapbox://styles/mapbox/streets-v9',
								center: [-122.1506, 37.446746],
								zoom: 11
						});

						var origin = new MapboxGeocoder ({
								accessToken: mapboxgl.accessToken,
								mapboxgl: mapboxgl,
								trackProximity: true, 
								flyTo: false,
								bbox: [-123,37,-121,39]
						});

						var destination = new MapboxGeocoder ({
								accessToken: mapboxgl.accessToken,
								mapboxgl: mapboxgl,
								trackProximity: true,
								flyTo: false,
								bbox: [-123,37,-121,39]
						});
						
						origin.on('result', function(e) {
								orAjax = e['result'];
						})

						destination.on('result', function(e) {
								destAjax = e['result'];
						})

						$('#search').append(origin.onAdd(map));
						$('#search').append(destination.onAdd(map));
						$('#search').append('<button type = "submit">Find Route</button>');

						map.on('load', function() {
								map.addSource('blackcarbon', {
										type: 'geojson',
										data: '../static/router/BlackCarbon.json'
								});
								map.addLayer({
										id: 'bcarbon',
										type: 'circle',
										source: 'blackcarbon',
										paint: {
												'circle-color': [
														'interpolate', 
														['linear'], 
														['get', 'BlackCarbonValue'],
														-1.35, '#5af542', 
														1.35, '#f59342',
														3.35, '#f54251',
														5.35, '#bc42f5']
												}
								}, 'waterway-label');
						})

						$('#search').on('submit', function(e) {
								e.preventDefault();
								let i = 0;
								while (map.getLayer('route'+String(i))) {
										map.removeLayer('route'+String(i));
										map.removeSource('route'+String(i));
										i++;
								}
								$.ajax({
										type:'post',
										url: $(this).attr('action'),
										data: {
												originCoor: JSON.stringify(orAjax['geometry']['coordinates']),
												destinationCoor: JSON.stringify(destAjax['geometry']['coordinates']) 
										},
										success: function(data) {
												var routes = [];
												for (route of JSON.parse(data)) {
														var line = turf.lineString(route.geometry.coordinates);
														var arrayOfPoints = [];
														for (i = 0; i < turf.length(line); i+=.25) {
																arrayOfPoints.push(turf.along(line, i)['geometry']['coordinates']);
														}
														routes.push(arrayOfPoints);
												}
												var json = (function () {
																	var json = null;
																	$.ajax({
																		'async': false,
																		'global': false,
																		'url': '../static/router/BlackCarbon.json',
																		'dataType': "json",
																		'success': function (data) {
																			json = data;
																		}
																	});
																	return json;
												})();	
												routeValues = []
												let j = 0;
												for(route of routes) {
														carbonValues = [];
														for (point of route) {
																jsonCopy = JSON.parse(JSON.stringify(json))
																nearest = [];
																for (i = 0; i < 4; i++) {
																		currentNearest = turf.nearest(point, jsonCopy)
																		nearest.push(currentNearest.properties);
																		jsonCopy.features = jsonCopy.features.filter( function(feature) {
																			return (feature.geometry.coordinates[0] != currentNearest.geometry.coordinates[0] && feature.geometry.coordinates[1] != currentNearest.geometry.coordinates[1]);
})
																}
																carbonValues.push(idw(nearest));
												}
														routeValues.push(average(carbonValues));
														var line = JSON.parse(data)[j]['geometry']
														map.addLayer({
															'id': 'route' + j,
															'type': 'line',
															'source': {
																	'type': 'geojson',
																	'data': line 
															}
														})
														var bounds = route.reduce(function(bounds, coord) {
														return bounds.extend(coord);
														}, new mapboxgl.LngLatBounds(route[0], route[0]));

														var popup = new mapboxgl.Popup({closeOnClick: false})
															.setLngLat(turf.along(line, turf.length(line) / 2).geometry.coordinates)
															.setHTML('<ul><li>Black Carbon Value: '+ routeValues[j] + '</li><li>Time ' + JSON.parse(data)[j].duration + '</li></ul>')
															.addTo(map);

														map.fitBounds(bounds, {
														padding: 20
														})
														j++;
											}
										}
								});
						});

						map.on('click', 'bcarbon', function(e) {
						  new mapboxgl.Popup()
							.setLngLat(e.features[0].geometry.coordinates)
										.setHTML('<b>Black Carbon (unit):</b> ' + e.features[0].properties.BlackCarbonValue + '<br> ' + e.features[0].properties.time)
							.addTo(map);
						});

						function average(arr) {
								sum = 0;
								for (i = 0; i < arr.length; i++) {
										sum += parseFloat(arr[i]);
								}
								return sum/arr.length;
						}
						function idw(pointArray) {
								numerator = 0;
								denominator = 0;
								for (point of pointArray) {
										numerator += point.BlackCarbonValue/(Math.pow(point.distanceToPoint, 2));
										denominator += 1/(Math.pow(point.distanceToPoint, 2));
								}
								return numerator / denominator;
						}
										</script>

		</body>
</html>
